html{
    background-color: black;
}
table{
    width: 100%;
    text-align: center;
    border: 10px solid black;
    horiz-align: center;
}
body{
    margin: 0;
}
.carTable{
    width: 100%;
    text-align: center;
    border: 10px solid black;
    horiz-align: center;
}
.carName{
    width: 100%;
    color: green;
    text-align: center;
    font-size: 20pt;
    padding-top: 10px;
}
.table-item{
    width: 33%;
}
.frontText{
    font-size: 32pt;
    width: 20%;
    text-align: left;
    padding: 50px;
    font-family: "Times New Roman",Times,serif;
}
.frontText:hover{
    cursor:pointer;
    color: red;
}
.menu{
    border: 10px solid mediumpurple;
    background-color: orange;
    height: 200px;
    width: 100%;
}

.splashText{
    text-align: center;
    font-size: 28pt;
    color: green;
}
.container{
    background-color: grey;
    text-align: center;
}
.carTable:hover{
    cursor: pointer;
    opacity: 0.5;
}
.carName:hover{
    cursor: pointer;
    opacity: 0.5;
}
.image{
    background-image: url("../images/logo.jpg");
    width: 570px;
    background-size: cover;
}
.menubutton{
    font-size: 28pt;
    text-align: center;
    margin: 10px;
}
.menubutton:hover{
    cursor: pointer;
    opacity: 0.5;
    color: purple;
    background-color: orangered;
}
.box{
    font-size: 20pt;
    text-align: center;
    background-color: grey;
}
.manufacturerAdder{
    color: green;
    width: 100%;
    background-color: darkgrey;
    text-align: center;
}
.carAdder{
    color: green;
    width: 100%;
    background-color: darkgrey;
    text-align: center;
}
.formTable{
    width: 80%;
    margin-left: 10%;
}